@use './mixins' as *;
@use './variables' as *;
@use './settings' as *;




//---------------------------------------closebutton
.closebutton {
      @include size(2rem, 2rem);
      @include font(1.5rem, $gold, n);
      @include position(absolute, n, 0.4rem, 0.4rem, n);
      padding: 5px;
      &:hover {
            transform: scale(1.2);
      }
}


// -----------------------------goldene linie */
.line {
      @include size(70%, 2px, none);
      display: flex;
      background-image: linear-gradient(to left,
                  $gold,
                  $darkgold,
                  $gold );
      margin: auto;
      margin-top: $topbottom;
      margin-bottom: $topbottom;

}

@media (min-width: $tablet) {
      .line {
            height: 3px;
            margin-top: $topbottombig;
            margin-bottom: $topbottombig;
      }
}


.thinline {
      @include size(90%, 1px, $gold);
}

// -------------------------- bookbutton */
.bookbtn {
      display: block;
      background-color: $gold;
      @include font(1rem, $green, bold);
      letter-spacing: 1px;
      padding: 5px;
      border-radius: 5px;
      position: relative;
      overflow: hidden;
      transition: 0.2s ease-in-out;

      &::after {
            content: "";
            @include size(8em, 5em, none);
            @include position (absolute, n, -1rem, -6em, n);
            background: linear-gradient(to left, transparent, #efd045, transparent);
            background-size: cover;
            transition: 0.5s all ease-in-out;

      }

      &:hover::after {
            right: 90%;
      }

      a {
            letter-spacing: 1px;
      }



      /* -----------------------------------------------bookbutton responsiv */
      @media (min-width: 481px) {
            & {
                  font-size: 1.3rem;
            }
      }

      @media (min-width: 768px) {
            & {
                  font-size: 1.4rem;
                  padding: 5px;
            }
      }
}

// 
.email button,
.write-us-bar button {
      @include size(32%, 3rem, $darkgold);
      border: 1px solid $lightfield;
      @include font(2rem, $lightfield, bold);
      letter-spacing: 3px;

      margin-left: 12%;
      margin-bottom: $topbottom;
      margin-top: $topbottom;
}

@media (min-width: $tablet) {
      .email legend {
            font-size: 3rem;
      }

      .email .border button {
            @include size(30%, 4rem, inherit)
      }
}