@use "./variables";
@use "./settings";
@use "./mixins";


@use "./header/header.scss";
@use "./buttons";
@use "./modal";
// @use "bars-windows.scss";
// @use 'animation/animation.scss';

html {
      font-size: 62.5%;
      font-family: "PoiretOne", Arial, Helvetica, sans-serif;
}

body {
      @include mixins.size(100vw, auto, variables.$green);

      &.page-booking {
            background-color: variables.$darkfield;
      }

}

.app-container.inactive {
      filter: blur(5px);
      pointer-events: none;
}



// @use "main/main";


// @use 'footer';
// @use 'controller';