@use '../_mixins.scss';
@use '../_variables.scss';
@use '../_settings.scss' ;
@use './rame.scss';
@use '../_buttons.scss';

@use './langSwitcherButtons.scss';

header.index{
    nav {
        @include mixins.flex-row(2rem, end, start);

        .hamburger .fa-bars {
              @include mixins.font(1.5rem, variables.$gold, n);
        }
        .hamburger .ham-lines{
            background: none;
            &:hover .fa-bars {
                  scale: 1.2;
            }
        }
  
  
  }
  .bookbtn {
    place-self: end;
}
}

@media (min-width: variables.$tablet) {
    header.index {
          nav {
                gap: 1rem;
                .hamburger .fa-bars {
                      font-size: 3rem;
                }
          }
    }
}

@media (min-width: variables.$desktop) {
    header.index {
          nav {
                justify-self: end;
          }
          .bookbtn,
          .ham-lines {
                display: none;
          }
    }
}